body{
	font-family: Helvetica, sans-serif;
}

a{
	color: #007AC9;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

#navbar a:hover{
	text-decoration: none;
}

#impressum a:hover{
	text-decoration: none;
}

#Logo{
	height: 35px; 
	width: 45px;
	padding-top: 2px;
}
#ReadMore{
	height: 100px; 
	width: 150px;
	margin-bottom: 5vh;
}

td:first-child {
	text-align: right;
	padding-right: 10px;
}
  
td:last-child {
	text-align: left;
	padding-left: 10px;
}